/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 *  [2015] - [2016] Codenvy, S.A.
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

.admins-add-user-form
  min-width 520px

  .form-input-fields
    margin 20px 0px

  che-filter-selector
    margin-bottom 20px
    line-height 33px

  che-filter-selector .che-filter-selector-button
    max-width 400px
    width 400px

  .che-input-box-desktop
    width 520px
    max-width 520px

  label
    max-width 23% !important
    width 23% !important
    margin-top 10px

  input
    width 400px
    float right

.admins-add-user-form .che-input-desktop-label
  margin-top 1px

.admins-add-user-form .password-prompt,
.admins-add-user-form .che-input-desktop-label
  min-width 125px

.admins-add-user-form .password-prompt
  font-size 12px
  color $disabled-color
  margin-bottom 20px

.admins-add-user-form .password-prompt p
  margin-top 5px
  margin-bottom 5px

.admins-add-user-form .password-prompt
  .password-prompt-text
    min-width 125px

  .pass-strength
    width 100%

  & > div
    margin-bottom 10px
